<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta name="author" content="Ecology Theme" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>World Inbox</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Goole Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,500,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/assets/bootstrap.min.css" />
    <!-- Font awsome CSS -->
    <link rel="stylesheet" href="css/assets/font-awesome.min.css" />
    <link rel="stylesheet" href="css/assets/flaticon.css" />
    <link rel="stylesheet" href="css/assets/magnific-popup.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="css/assets/owl.carousel.css" />
    <link rel="stylesheet" href="css/assets/owl.theme.css" />
    <link rel="stylesheet" href="css/assets/animate.css" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="css/assets/slick.css" />

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="css/assets/revolution/layers.css" />
    <link rel="stylesheet" href="css/assets/revolution/navigation.css" />
    <link rel="stylesheet" href="css/assets/revolution/settings.css" />
    <!-- Mean Menu-->
    <link rel="stylesheet" href="css/assets/meanmenu.css" />
    <!-- main style-->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/demo.css" />

    <!-- <script src="../js/index.js" defer></script> -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/assets/revolution/jquery.themepunch.revolution.min.js"></script>
    <script src="js/assets/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/slick.min.js"></script>
    <script src="js/jquery.meanmenu.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script src="js/waypoints.min.js"></script>
    <script src="js/jquery.counterup.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="js/assets/revolution/extensions/revolution.extension.video.min.js"></script>
    <script src="js/assets/revolution/revolution.js"></script>
    <script src="js/custom.js"></script>

    <link rel="stylesheet" href="css/eventCSS/styles.css" />
    <script src="../userValidation/index.js" defer></script>
    <script src="../userValidation/userAuth.js" defer></script>
    <style>
      .disappear {
        display: none !important;
      }
    </style>
    <script>
      function setCookie(name, value, days) {
        let date = new Date();
        date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
        let expires = "expires=" + date.toUTCString();
        document.cookie = name + "=" + value + ";" + expires;
      }
      function getCookie(name) {
        var value = null;
        document.cookie.split(";").map((element) => {
          var arr = element.split("=");
          if (arr[0] === ` ${name}` || arr[0] === name) {
            value = arr[1] === "" ? null : arr[1];
          }
        });
        return value;
      }

      document.addEventListener("DOMContentLoaded", function () {
        const signinWarning = document.getElementById("signin_warning");
        const signinForms = document.getElementById("admin_signin");

        authCookie = getCookie("authorization");
        if (!authCookie) {
          signinForms.classList.add("disappear");
          signinWarning.innerText = "you don't have admin access!";
        } else {
          signinWarning.classList.add("disappear");
        }

        const deleteUpdateForm = document.getElementById("deleteUpdateForm");
        const deleteUpdateWarning = document.getElementById(
          "deleteUpdateWarning"
        );
        deleteUpdateForm.addEventListener("submit", function (event) {
          event.preventDefault();
          const formData = new FormData(this);
          fetch("/admin/deleteUpdate", {
            method: "POST",
            headers: { authorization: authCookie },
            body: formData,
          })
            .then((response) => response.json())
            .then((data) => {
              if (data.success) {
                deleteUpdateWarning.innerText = data.success;
                deleteUpdateForm.reset();
              } else if (data.error) {
                deleteUpdateWarning.innerText = data.error;
              }
            })
            .catch((error) => {
              console.error("Error:", error);
            });
        });
      });
    </script>
  </head>
  <body>
    <header class="header_tow">
      <div class="header_top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <div class="info_wrapper">
                <div class="contact_info">
                  <ul class="list-unstyled">
                    <li><i class="flaticon-phone-receiver"></i>7575080606</li>
                    <li>
                      <i class="flaticon-mail-black-envelope-symbol"></i
                      >worldinboxvadodara@gmail.com
                    </li>
                  </ul>
                </div>
                <div class="login_info">
                  <ul class="" style="display: flex" id="auth_pending">
                    <li class="nav-item">
                      <a href="#" class="nav-link sign-in js-modal-show"
                        ><i
                          class="flaticon-user-male-black-shape-with-plus-sign"
                        ></i
                        >Sign Up</a
                      >
                    </li>
                    <li class="nav-item">
                      <a href="#" class="nav-link join_now js-modal-show"
                        ><i class="flaticon-padlock"></i>Log In</a
                      >
                    </li>
                  </ul>
                  <ul id="auth_successfull">
                    <li class="nav-item">
                      <a
                        href="#"
                        onclick="logout()"
                        class="nav-link join_now js-modal-show"
                        ><i class="flaticon-padlock"></i>Log Out</a
                      >
                    </li>
                  </ul>
                  <a
                    href="https://clpdiy14.page.link/purF"
                    target="_blank"
                    title=""
                    class="apply_btn"
                    >courses</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="edu_nav"
        style="
          background-color: rgba(255, 255, 255, 0.65);
          backdrop-filter: blur(10px);
        "
      >
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <a class="navbar-brand" href="/"
              ><img src="images/logo2.png" alt="logo"
            /></a>
            <div
              class="collapse navbar-collapse main-menu"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav nav lavalamp ml-auto menu">
                <li class="nav-item">
                  <a href="/" class="nav-link active">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="cursor: pointer">Updates</a>
                  <ul class="navbar-nav nav mx-auto">
                    <% updates.map((item)=>{ %>
                    <li class="nav-item">
                      <a class="" style="cursor: pointer"><%= item.subject%></a>

                      <ul class="navbar-nav nav mx-auto">
                        <%item.chapters.map((e)=>{%>
                        <li class="nav-item">
                          <a
                            href="<%=`updates/${item.subject}/${e.title}`%>"
                            class="nav-link"
                            ><%=e.title%></a
                          >
                        </li>

                        <%})%>
                      </ul>
                    </li>
                    <% })%>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="cursor: pointer">Resources</a>
                  <ul class="navbar-nav nav mx-auto">
                    <% Resources.map((item)=>{ %>
                    <li class="nav-item">
                      <a class="" style="cursor: pointer"><%= item.title%></a>
                      <ul class="navbar-nav nav mx-auto">
                        <%item.more.map((e)=>{%>
                        <li class="nav-item">
                          <a href="<%=e.link%>" class="nav-link"
                            ><%=e.title%></a
                          >
                        </li>

                        <%})%>
                      </ul>
                    </li>
                    <% })%>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="/current-affairs" class="nav-link"
                    >Current Affairs</a
                  >
                </li>

                <li class="nav-item">
                  <a href="/open-test" class="nav-link">Open Test</a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
      <section class="login_signup_option">
        <div class="l-modal is-hidden--off-flow js-modal-shopify">
          <div class="l-modal__shadow js-modal-hide"></div>
          <div class="login_popup login_modal_body">
            <div class="Popup_title d-flex justify-content-between">
              <h2 class="hidden">&nbsp;</h2>
              <div class="row">
                <div
                  class="col-12 col-lg-12 col-md-12 col-lg-12 login_option_btn"
                >
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#login"
                        role="tab"
                        >Login</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-toggle="tab"
                        href="#panel2"
                        role="tab"
                        >Register</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                  <!-- Tab panels -->
                  <div class="tab-content card">
                    <!--Login-->
                    <div
                      class="tab-pane fade in show active"
                      id="login"
                      role="tabpanel"
                    >
                      <form onsubmit="submitHandler">
                        <div class="row">
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Email</label>
                              <input
                                type="email"
                                id="login-email"
                                class="form-control"
                                placeholder="Username"
                                value="dharmik7458@gmail.com"
                              />
                            </div>
                          </div>
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Password</label>
                              <input
                                type="password"
                                id="login-password"
                                class="form-control"
                                placeholder="Password"
                                value="hello world"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div
                            class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option"
                          >
                            <button
                              type="submit"
                              class="btn btn-default login_btn"
                              onclick="login()"
                            >
                              Login
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="panel2" role="tabpanel">
                      <form action="#" class="register">
                        <div class="row">
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Name</label>
                              <input
                                type="text"
                                id="signup-name"
                                class="form-control"
                                placeholder="Username"
                                value="dharmik"
                              />
                            </div>
                          </div>
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Email</label>
                              <input
                                type="email"
                                id="signup-email"
                                class="form-control"
                                placeholder="Email"
                                value="dharmik7458@gmail.com"
                              />
                            </div>
                          </div>
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Password</label>
                              <input
                                type="password"
                                id="signup-password"
                                class="form-control"
                                placeholder="Password"
                                value="hello world"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div
                            class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option"
                          >
                            <button
                              type="submit"
                              class="btn btn-default login_btn"
                              onclick="signup()"
                            >
                              Register
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!--/.Panel 2-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <style>
        .header {
          position: relative;
          background: url("images/banner/original_banner.jpg") no-repeat center
            center;
          background-size: cover;
          height: 100vh;
          color: white;
        }
        .header-content {
          position: absolute;
          min-width: 60%;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
        }
        .header-title {
          font-size: 3rem;
          font-weight: bold;
          color: #ffffff;
        }
        .header-text {
          font-size: 1.5rem;
          margin-bottom: 20px;
          color: #ffffff;
        }
        .header-button {
          font-size: 1rem;
          padding: 10px 20px;
          background: #ff5a2c;
          border: none;
        }
      </style>

      <header class="header_inner contact_page">
        <div class="intro_wrapper">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-8 col-lg-8">
                <div class="intro_text">
                  <h1>Add Updates</h1>
                  <div class="pages_links">
                    <a href="#" title="">Admin</a>
                    <a href="#" title="" class="active">Add Updates</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="login_signup_option">
        <div class="l-modal is-hidden--off-flow js-modal-shopify">
          <div class="l-modal__shadow js-modal-hide"></div>
          <div class="login_popup login_modal_body">
            <div class="Popup_title d-flex justify-content-between">
              <h2 class="hidden">&nbsp;</h2>
              <div class="row">
                <div
                  class="col-12 col-lg-12 col-md-12 col-lg-12 login_option_btn"
                >
                  <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                      <a
                        class="nav-link active"
                        data-toggle="tab"
                        href="#login"
                        role="tab"
                        >Login</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                        class="nav-link"
                        data-toggle="tab"
                        href="#panel2"
                        role="tab"
                        >Register</a
                      >
                    </li>
                  </ul>
                </div>
                <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                  <!-- Tab panels -->
                  <div class="tab-content card">
                    <!--Login-->
                    <div
                      class="tab-pane fade in show active"
                      id="login"
                      role="tabpanel"
                    >
                      <form onsubmit="submitHandler">
                        <div class="row">
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Email</label>
                              <input
                                type="email"
                                id="login-email"
                                class="form-control"
                                placeholder="Username"
                                value="dharmik7458@gmail.com"
                              />
                            </div>
                          </div>
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Password</label>
                              <input
                                type="password"
                                id="login-password"
                                class="form-control"
                                placeholder="Password"
                                value="hello world"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div
                            class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option"
                          >
                            <button
                              type="submit"
                              class="btn btn-default login_btn"
                              onclick="login()"
                            >
                              Login
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <div class="tab-pane fade" id="panel2" role="tabpanel">
                      <form action="#" class="register">
                        <div class="row">
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Name</label>
                              <input
                                type="text"
                                id="signup-name"
                                class="form-control"
                                placeholder="Username"
                                value="dharmik"
                              />
                            </div>
                          </div>
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Email</label>
                              <input
                                type="email"
                                id="signup-email"
                                class="form-control"
                                placeholder="Email"
                                value="dharmik7458@gmail.com"
                              />
                            </div>
                          </div>
                          <div class="col-12 col-lg-12 col-md-12 col-lg-12">
                            <div class="form-group">
                              <label class="control-label">Password</label>
                              <input
                                type="password"
                                id="signup-password"
                                class="form-control"
                                placeholder="Password"
                                value="hello world"
                              />
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div
                            class="col-12 col-lg-12 col-md-12 col-lg-12 d-flex justify-content-between login_option"
                          >
                            <button
                              type="submit"
                              class="btn btn-default login_btn"
                              onclick="signup()"
                            >
                              Register
                            </button>
                          </div>
                        </div>
                      </form>
                    </div>
                    <!--/.Panel 2-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </header>
    <h2
      id="signin_warning"
      style="
        margin: 10rem 0 5rem 0;
        color: red;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    ></h2>
    <section id="admin_signin" class="admin_signin">
      <div class="mt-5">
        <div class="form-full-box">
          <div class="form_title">
            <h2>Delete Notes</h2>
            <p
              id="deleteUpdateWarning"
              style="color: red; font-size: x-large"
            ></p>
          </div>
          <form id="deleteUpdateForm">
            <div class="register-form">
              <div class="row">
                <div class="col-12 col-xs-12 col-md-12">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Subject</label>
                    <select
                      class="form-control"
                      name="subject"
                      id="exampleFormControlSelect1"
                    >
                      <% updates.map((item)=>{ %>
                      <option value="<%=item.subject%>">
                        <%= item.subject%>
                      </option>
                      <% })%>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-xs-12 col-md-12">
                  <div class="form-group">
                    <label>Chapter :</label>
                    <input
                      class="form-control"
                      name="chapter"
                      placeholder="Chapter"
                      required
                      type="text"
                    />
                  </div>
                </div>

                <div class="col-12 col-xs-12 col-md-12">
                  <div class="form-group">
                    <label for="exampleFormControlSelect1">Language</label>
                    <select
                      class="form-control"
                      name="language"
                      id="exampleFormControlSelect1"
                    >
                      <option value="hindi">Hindi</option>
                      <option value="english">English</option>
                    </select>
                  </div>
                </div>

                <div class="col-12 col-xs-12 col-md-12 register-btn-box">
                  <button
                    class="register-btn btn btn-primary btn-lg mt-4"
                    type="submit"
                  >
                    Delete
                  </button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <footer class="footer_2">
      <div class="container">
        <div class="footer_top">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="footer_single_col footer_intro">
                <img src="images/LOGO_LIGHT.png" alt="" class="f_logo" />
                <p>World Inbox Academy Vadodara</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
              <div class="footer_single_col">
                <h3>Useful Links</h3>
                <ul class="location_info quick_inf0">
                  <li><a href="/">Home</a></li>
                  <li><a href="/current-affairs">Current Affairs</a></li>
                  <li><a href="/mentorship">Mentorship</a></li>
                  <!-- <li><a href="/open-test">Open Test</a></li> -->
                  <li><a href="/admin-signin">Admin</a></li>
                  <li><a href="/admin-dashboard">Admin-Dashboard</a></li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="footer_single_col contact">
                <h3>Contact Us</h3>
                <p>
                  SF-11, Ved Transcube Plaza, Central Bus Station, Opp. Railway
                  Station, Nr. City Bus Station, Vadodara
                </p>
                <div class="contact_info">
                  <span class="email">7575080606</span>
                </div>
                <div class="contact_info">
                  <span class="email">worldinboxvadodara@gmail.com</span>
                </div>
                <ul class="social_items d-flex list-unstyled">
                  <li>
                    <a href="/"><i class="fab fa-facebook-f fb-icon"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-twitter twitt-icon"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-linkedin-in link-icon"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-instagram ins-icon"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
              <div class="copyright">
                Copyright 2025 © World Inbox Knowledge Sharing Pvt Ltd.. All
                Rights Reserved
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shapes_bg">
        <img
          src="images/shapes/testimonial_2_shpe_1.png"
          alt=""
          class="shape_3"
        />
        <img src="images/shapes/footer_2.png" alt="" class="shape_1" />
      </div>
    </footer>
  </body>
</html>
