<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="HTML,CSS,XML,JavaScript" />
    <meta name="author" content="Ecology Theme" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eduwise - Education HTML5 Template</title>
    <link
      rel="shortcut icon"
      href="../../images/favicon.ico"
      type="image/x-icon"
    />
    <!-- Goole Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Rubik:400,500,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../css/assets/bootstrap.min.css" />
    <!-- Font awsome CSS -->
    <link rel="stylesheet" href="../../css/assets/font-awesome.min.css" />
    <link rel="stylesheet" href="../../css/assets/flaticon.css" />
    <link rel="stylesheet" href="../../css/assets/magnific-popup.css" />
    <!-- owl carousel -->
    <link rel="stylesheet" href="../../css/assets/owl.carousel.css" />
    <link rel="stylesheet" href="../../css/assets/owl.theme.css" />
    <link rel="stylesheet" href="../../css/assets/animate.css" />
    <!-- Slick Carousel -->
    <link rel="stylesheet" href="../../css/assets/slick.css" />

    <!-- Revolution Slider -->
    <link rel="stylesheet" href="../../css/assets/revolution/layers.css" />
    <link rel="stylesheet" href="../../css/assets/revolution/navigation.css" />
    <link rel="stylesheet" href="../../css/assets/revolution/settings.css" />
    <!-- Mean Menu-->
    <link rel="stylesheet" href="../../css/assets/meanmenu.css" />
    <!-- main style-->
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="../../css/responsive.css" />
    <link rel="stylesheet" href="../../css/demo.css" />

    <link rel="stylesheet" href="../../css/eventCSS/styles.css" />
    <script src="../../../userValidation/index.js" defer></script>
    <script src="../../../js/index.js" defer></script>
    <script src="../../js/jquery-3.2.1.min.js"></script>
    <script src="../../js/popper.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/assets/revolution/jquery.themepunch.revolution.min.js"></script>
    <script src="../../js/assets/revolution/jquery.themepunch.tools.min.js"></script>
    <script src="../../js/jquery.magnific-popup.min.js"></script>
    <script src="../../js/owl.carousel.min.js"></script>
    <script src="../../js/slick.min.js"></script>
    <script src="../../js/jquery.meanmenu.min.js"></script>
    <script src="../../js/wow.min.js"></script>
    <script src="../../js/waypoints.min.js"></script>
    <script src="../../js/jquery.counterup.min.js"></script>

    <script src="../../js/assets/revolution/extensions/revolution.extension.actions.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.carousel.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.kenburn.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.layeranimation.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.migration.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.navigation.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.parallax.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.slideanims.min.js"></script>
    <script src="../../js/assets/revolution/extensions/revolution.extension.video.min.js"></script>
    <script src="../../js/assets/revolution/revolution.js"></script>
    <script src="../../js/custom.js"></script>
    <style>
      .subsection-title {
        display: flex;
        justify-content: space-between;
        margin: 1rem 0;
      }
      .download_btn {
        background: #ff5a2c;
        color: white !important;
        font-size: medium;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 1rem;
        border-radius: 7px;
      }
      .disappear {
        display: none !important;
      }
    </style>
    <!-- <script> -->
    <!-- document.addEventListener("DOMContentLoaded", function () {
        var mainContentCover = document.getElementById("mainContentCover");
        var mainWarningCover = document.getElementById("mainWarningCover");
        var content = <%-JSON.stringify(content)%>;
        console.log(content);
        if(content.warning){
          mainContentCover.classList.add("disappear");
          mainWarningCover.classList.remove("disappear");

        }
      }) -->
    <!-- </script> -->
  </head>
  <body>
    <header class="header_tow">
      <div class="header_top">
        <div class="container">
          <div class="row">
            <div class="col-12 col-sm-12 col-lg-12">
              <div class="info_wrapper">
                <div class="contact_info">
                  <ul class="list-unstyled">
                    <li>
                      <i class="flaticon-phone-receiver"></i>0278-2564445,
                      9099096116
                    </li>
                    <li>
                      <i class="flaticon-mail-black-envelope-symbol"></i
                      >kaushik@worldinbox.co.in
                    </li>
                  </ul>
                </div>
                <div class="login_info">
                  <a
                    href="https://clpdiy14.page.link/purF"
                    target="_blank"
                    title=""
                    class="apply_btn"
                    >courses</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="edu_nav"
        style="
          background-color: rgba(255, 255, 255, 0.359);
          backdrop-filter: blur(10px);
        "
      >
        <div class="container">
          <nav class="navbar navbar-expand-md navbar-light bg-faded">
            <a class="navbar-brand" href="/"
              ><img src="../../images/logo2.png" alt="logo"
            /></a>
            <div
              class="collapse navbar-collapse main-menu"
              id="navbarSupportedContent"
            >
              <ul class="navbar-nav nav lavalamp ml-auto menu">
                <li class="nav-item">
                  <a href="/" class="nav-link">Home</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link active" style="cursor: pointer">Updates</a>
                  <ul class="navbar-nav nav mx-auto">
                    <% updates.map((item)=>{ %>
                    <li class="nav-item">
                      <a class="" style="cursor: pointer"><%= item.subject%></a>

                      <ul class="navbar-nav nav mx-auto">
                        <%item.chapters.map((e)=>{%>
                        <li class="nav-item">
                          <a
                            href="<%=`/updates/${item.subject}/${e.title}`%>"
                            class="nav-link"
                            ><%=e.title%></a
                          >
                        </li>

                        <%})%>
                      </ul>
                    </li>
                    <% })%>
                  </ul>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="cursor: pointer">Resources</a>
                  <ul class="navbar-nav nav mx-auto">
                    <% Resources.map((item)=>{ %>
                    <li class="nav-item">
                      <a class="" style="cursor: pointer"><%= item.title%></a>
                      <ul class="navbar-nav nav mx-auto">
                        <%item.more.map((e)=>{%>
                        <li class="nav-item">
                          <a href="<%=e.link%>" class="nav-link"
                            ><%=e.title%></a
                          >
                        </li>

                        <%})%>
                      </ul>
                    </li>
                    <% })%>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="/current-affairs" class="nav-link"
                    >Current Affairs</a
                  >
                </li>
                <li class="nav-item">
                  <a href="/mentorship" class="nav-link">MentorShip</a>
                </li>
                <!-- <li class="nav-item">
                  <a href="/open-test" class="nav-link">Open Test</a>
                </li> -->
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <header class="header_inner courses_page">
      <!-- Preloader -->

      <div class="intro_wrapper">
        <div class="container">
          <div class="row">
            <div class="col-sm-12 col-md-8 col-lg-8">
              <div class="intro_text">
                <h1>Updates Pate</h1>
                <div class="pages_links">
                  <a href="#" title><%=subject%></a>
                  <a href="#" title class="active"><%=content.title%></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div
      id="mainWarningCover"
      class="disappear"
      style="
        display: flex;
        justify-content: center;
        font-size: 2rem;
        font-weight: 700;
        margin: 5rem;
        color: red;
      "
    >
      <%=content.warning%>
    </div>
    <div class="container" id="mainContentCover">
      <div class="row">
        <div class="col-md-12">
          <h1><%=subject.toUpperCase()%></h1>
          <%content.language.map(({name,resourcePdf})=>{ %>

          <div class="subsection">
            <h3 class="subsection-title">
              <%=content.title%> <%=name%>
              <a class="download_btn" download="book" href="<%=resourcePdf%>"
                >Download the PDF</a
              >
            </h3>
            <div class="object-container">
              <object
                data="../../uploads/<%=resourcePdf%>"
                type="application/pdf"
                width="100%"
                height="600"
              >
                <p>
                  Your browser does not support PDF embedding.
                  <a href="<%=name%>">Download the PDF</a>
                </p>
              </object>
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </div>

    <footer class="footer_2">
      <div class="container">
        <div class="footer_top">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="footer_single_col footer_intro">
                <img src="../../images/logo2.png" alt="" class="f_logo" />
                <p>World Inbox Knowledge Sharing Pvt. Ltd.</p>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-2">
              <div class="footer_single_col">
                <h3>Useful Links</h3>
                <ul class="location_info quick_inf0">
                  <li><a href="/">Home</a></li>
                  <li><a href="/current-affairs">Current Affairs</a></li>
                  <li><a href="/mentorship">Mentorship</a></li>
                  <!-- <li><a href="/open-test">Open Test</a></li> -->
                  <li><a href="/admin-signin">Admin</a></li>
                  <li><a href="/admin-dashboard">Admin-Dashboard</a></li>
                </ul>
              </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
              <div class="footer_single_col contact">
                <h3>Contact Us</h3>
                <p>
                  World Inbox Edu Paper Pvt Ltd FF-3, Sun Harmony, Nr vadodariya
                  circle, Hill drive, Bhavnagar. 364001
                </p>
                <div class="contact_info">
                  <span class="email">0278-2564445, 9099096116</span>
                </div>
                <div class="contact_info">
                  <span class="email">kaushik@worldinbox.co.in</span>
                </div>
                <ul class="social_items d-flex list-unstyled">
                  <li>
                    <a href="/"><i class="fab fa-facebook-f fb-icon"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-twitter twitt-icon"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-linkedin-in link-icon"></i></a>
                  </li>
                  <li>
                    <a href="/"><i class="fab fa-instagram ins-icon"></i></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-12 col-md-12 col-lg-12">
              <div class="copyright">
                Copyright 2025 © World Inbox Knowledge Sharing Pvt Ltd.. All
                Rights Reserved
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shapes_bg">
        <img
          src="../../images/shapes/testimonial_2_shpe_1.png"
          alt=""
          class="shape_3"
        />
        <img src="../../images/shapes/footer_2.png" alt="" class="shape_1" />
      </div>
    </footer>

    <section id="scroll-top" class="scroll-top">
      <h2 class="disabled">Scroll to top</h2>
      <div class="to-top pos-rtive">
        <a href="#"><i class="flaticon-right-arrow"></i></a>
      </div>
    </section>
  </body>
</html>
